{
  "PublisherId": "CN=35127CDE-D635-484E-A98F-FBA577C2A815",
  "PublisherDisplayName": "Migration Games",
  "PackageIdentityName": "40493MigrationGames.MigrationGames",
  "DisplayName": "MigrationGames",
  "AppId": "9N8FXGGR58TM",
  "ProductFamilyName": "40493MigrationGames.MigrationGames_vkwj7k6n35n3t",
  "PrimaryServiceConfigId": "00000000-0000-0000-0000-00006027a528",
  "TitleId": 1613210920,
  "Sandbox": "KLTTLJ.58",
  "XboxLiveCreatorsTitle": true
}